doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/dist/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/doughnut.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block header
      header.top
        nav.nav
          .nav__section.nav__section--pages
            li.nav__item
              a.nav__link.nav__link--logo(href="/")
                
              li.nav__item
                a.nav__link(href='toto', class=('nav__link' ? 'nav__link--active' : ''))
                  
                  span 
          .nav__section.nav__section--search
            .search
              input.search__input(type="text" placeholder="Coffee, beer..." name="search")
              .search__results
          .nav__section.nav__section--user
            if user
              li.nav__item: a.nav__link(href="/hearts") coup de coeur
              li.nav__item: a.nav__link(href="/logout") Logout
              li.nav__item: a.nav__link(href="/account") mon compte
            else
              li.nav__item: a.nav__link(href="/register") Register
              li.nav__item: a.nav__link(href="/login") Log In 


    block messages
      if locals.flashes
        .inner
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash__text!= message
                  button.flash__remove(onClick="this.parentElement.remove()") &times;
    .content
      block content
        p This is the default!

    block scripts 
      script(src='https://code.jquery.com/jquery-3.3.1.min.js')
      script(src=`https://maps.googleapis.com/maps/api/js?key=AIzaSyCCN-Y00513Sxzsp8MhZkiwILwdpog_PWI&libraries=places`)
      script(src="/js/app.js")
