mixin forgotForm()
  form.form(action="/account/forgot" method="POST")
    h2 Mot de passe perdu
    label(for="email") Email
    input(type="email" name="email")
    input.button(type="submit" value="demander la réinitialisation du compte
")
